body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F8FF;

}

header{
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #808b96;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-radius: 10px;
    color: black;
}

div{
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-radius: 10px;
    color: black;
}

header:hover{
    background-color: black;
    color: white;  
}

div:hover{
    background-color: black;
    color: white;  
}
/* Default colors */
.about {
    background-color: #808b96;
}
.skills {
    background-color: #808b96;
}
.projects {
    background-color: #808b96;
}
.contact {
    background-color: #808b96;
}